<!-- Add layout, boilerplate.ejs to template -->
<% layout("./layouts/boilerplate") %>

<body>
    <h3>All Listings</h3>
    <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form>
    <ul>
        <% for(let listing of allListing){ %>
            <!--Show Route to show specific data (view)  -->
            <a href="/listings/<%= listing._id %>">
                <li><%= listing.title %></li>
            </a>
        <% } %>
    </ul>
</body>

